<div class="header external row">

  <div class="left-section small-6 medium-6 large-3 column">
    <a class="broadsoft" href="/#/">
      <img src="/assets/images/headerLogoGrayscale.png"> Broadsoft
    </a>
    <a class="developers" href="">Developers</a>
  </div>

  <div class="right-section small-6 medium-6 large-9 column">
    <a href="/#/useCases" ng-click="sampleHovered = !sampleHovered" ng-init="sampleHovered = false">Use Cases</a>
    <div class="headerDropDown" ng-show="useCasesHovered" ng-mouseleave="useCasesHovered = false" >
      <a href="/#/useCases?section=item1">Item 1</a>
      <a href="/#/useCases?section=item2">Item 2</a>
      <a href="/#/useCases?section=item3">Item 3</a>
      <a href="/#/useCases?section=item4">Item 4</a>
    </div>

    <a href="/#/documentation">Documentation</a>
    <a href="/#/">App Directory</a>
    <a href="/#/login">Get Started</a>






    <!--<a class="menu-item" ng-click="sampleHovered = !sampleHovered" ng-init="sampleHovered = false">Sample Apps</a>-->
    <!--<div class="headerDropDown" ng-show="sampleHovered" ng-mouseleave="sampleHovered = false" >-->
      <!--<a href="https://github.com/BroadsoftLabs/helloWorldSampleApp">Hello World</a>-->
      <!--<a href="https://github.com/BroadsoftLabs/triviaSampleApp">Trivia Sample App</a>-->
    <!--</div>-->
    <!--<a class="menu-item" href="/#/internal/appsList" ng-show="internal">My Apps</a>-->
    <!--<a class="menu-item" href="/#/internal/sandbox" ng-show="internal">Sandbox</a>-->
    <!--<a class="menu-item" href="" ng-click="contactUsModal()">Contact Us</a>-->

    <!--<div class="login-buttons" ng-show="!internal">-->
      <!--<a href="https://broadsoftlabs.com/" target="_blank" class="hub-button signup-button">Sign Up</a>-->
    <!--</div>-->

    <!--<a class="menu-item" href="/#/login" ng-show="internal">Login</a>-->

  </div>

</div>
