a.topNav
  color  white
  font-family  roboto
  font-weight  100
  text-decoration  none
  padding  10px
  cursor pointer

.topNav
  position relative
  text-align  center
  padding  20px 0
  background-color  rgba(255,255,255,0.3)

.topNav a
  cursor pointer
  color  #fff
  font-family  roboto
  font-weight  100
  text-decoration  none
  padding  18px
  font-size  20px
  text-shadow  2px 2px 3px #000

.topNav a hover
  color  #C5C5C5
  font-family  roboto
  font-weight  100
  text-decoration  none
  padding  18px
  font-size  20px
  text-shadow  2px 2px 3px #000

.headerDropDown
  position: absolute;
  left: 52%;
  top: 67px;
  background-color: #333;
  padding-bottom: 14px;
  a
    display block