$background: #054280;
$text: #fff;

.header{
  background-color: $background;
  padding: 20px;

  a {
    color: $text;
    opacity: 0.8;
    text-decoration: none;
    cursor: pointer;

    &:hover{
      opacity: 1.0;
    }
  }

  .broadsoft{
    font-size: 17px;
    font-weight: bolder;
  }

  .developers{
    font-size: 15px;
    border-left: solid 1px $text;
    margin-left: 20px;
    padding: 0 20px;
  }

  .right-section {
    text-align: right;
  }
}