.login-container
  background-image url(/assets/images/splash.jpg)
  background-size cover
  letter-spacing: 2px;

  .hub-button
    height: 10px;
    padding: 6px 16px;
    color: white
    font-weight 100
    &:hover
      color: black

  .login-button
    background-color: #4cc14c;
    font-size: 28px;
    padding: 5px 40px;

  .signup-button
    background-color #76c2b7

  .appContainer
    margin-bottom 10px
    display inline-block
    width 100%
    button
      width 100px
      display inline-block
    h3
      display inline-block
      width 550px

  .login-half
    position: relative
    width: 49%;
    height: 100vh;
    display: inline-block;
    vertical-align: top;

  .login-actions
    background-color: rgba(0, 0, 0, 0.55)
    float: right
    text-align: center
    .content
      padding-top: 100px;

  .login-splash
    h1
      color: #ffffff;
      font-size: 86px;
      text-shadow: 6px 3px #060000;

  .content
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 474px;
    height: 500px;
    input
      font-size: 22px;
      width: 313px;
      padding: 5px 15px;



