.sandbox-container
  .iframe-container
    position relative
  .left-panel
    display: inline-block;
    width: 49%;
    vertical-align: top;
  .right-panel
    display: inline-block;
    width: 49%;
    vertical-align: top;
  .actions
    position: relative
    width 300px

.iframe-container
  display: inline-block;
.actions
  display: inline-block;
.label
  color: black;