h1 Hub Sandbox
.iframes-container
  h2 MicroApp
  iframe.micro-app-iframe(src="https://dev-core.broadsoftlabs.com:8443/app/internal/settings?id=jodonnell@broadsoft.com&xsp=https:%2F%2Fxsp.ihs.broadsoft.com&pwd=Fender88%5E")

  h2 Notifications
  iframe.notifications-iframe(src="https://dev-core.broadsoftlabs.com:8443/app/notifications?id=jodonnell@broadsoft.com&xsp=https:%2F%2Fxsp.ihs.broadsoft.com&pwd=Fender88%5E")

  h2 Contextual
  iframe.contextual-iframe(src="https://dev-core.broadsoftlabs.com:8443/app/contextual?id=jodonnell@broadsoft.com&xsp=https:%2F%2Fxsp.ihs.broadsoft.com&pwd=Fender88%5E")
