.sandbox-container
  .left-panel
    .micro-app
      .iframe-container
        h2 MicroApp Panel
        img.help(src="/assets/images/help-icon.png" ng-click="openHelpModal('assets/templates/microApp.help.html')")
        iframe.micro-app-iframe(ng-src="{{microApps}}")

    .notifications
      .iframe-container
        h2 Notifications Panel
        img.help(src="/assets/images/help-icon.png" ng-click="openHelpModal('assets/templates/notifications.help.html')")
        iframe.notifications-iframe(ng-src="{{notifications}}")
      //button.btn.btn-primary(ng-click="requestNotifications(); notificationsSent = true") Request Count
      //h2 Push Notification
      //.actions
      //  p Whenever this route is called, Hub will attempt to call your application for notifications and contextual data and update the user interface with that new data.
      //  code
      //    | POST https://core.broadsoftlabs.com/v1/:app/:username/push
      //  p
      //  .label
      //    | User (the email used for the app authentication):
      //  .form-value
      //    input(type="text" ng-model="username" )
      //  .label
      //    | Application:
      //  .form-value
      //    input(type="text" ng-model="app" )
      //  .label
      //    | Data to send:
      //  .form-value
      //    textarea(ng-model="appdata" cols="45")
      //  button.btn.btn-primary(ng-click="pushNotification()") Request Push Notification

  .api(ng-show="notificationsSent")
    h3 What we sent you:
    code
      | GET https://baseurl.com/v1/:app/:username/notifications
    h3 What you sent us:
    code
      | Response Code: 200 { "count": 12 }
    h3 Error Message
    p It seems you have not sent us a valid auth token please try again (Add stacktrace here.)

  .right-panel
    .contextual
      .iframe-container
        h2 Contextual Panel
        img.help(src="/assets/images/help-icon.png" ng-click="openHelpModal('assets/templates/contextual.help.html')")
        iframe#contextual-iframe.contextual-iframe(ng-src="{{contextual}}")
      .actions
        h3 Other User Details
        img.help(src="/assets/images/help-icon.png" ng-click="openHelpModal('assets/templates/otherUserDetails.help.html')")
        .label
          | Email:
        .form-value
          input(type="text" ng-model="email")
        .label
          | Phone Number:
        .form-value
          input(type="text" ng-model="phoneNumber")
        button.btn.btn-primary(ng-click="getContextualUser()") Request Contextual Data
