h1 Hub Sandbox
.iframes-container
  .micro-app
    .iframe-container
      h2 MicroApp
      iframe.micro-app-iframe(ng-src="{{microApps}}")
    .actions
      h3 How Micro Apps Work
      p This is where you can see your iframe in action!
      button.btn.btn-primary Reset User Auth

  .notifications
    .iframe-container
      h2 Notifications
      iframe.notifications-iframe(ng-src="{{notifications}}")
    .actions
      p This is where you can test your notifications.
    button.btn.btn-primary(ng-click="requestNotifications(); notificationsSent = true") Request Count

  .api(ng-show="notificationsSent")
    h3 What we sent you:
    code
      | GET https://baseurl.com/v1/:app/:username/notifications
    h3 What you sent us:
    code
      | Response Code: 200 { "count": 12 }
    h3 Error Message
    p It seems you have not sent us a valid auth token please try again (Add stacktrace here.)

  .contextual
    .iframe-container
      h2 Contextual
      iframe#contextual-iframe.contextual-iframe(ng-src="{{contextual}}")
    .actions
      h3 Other User Details
      p This is where you can test the user details in certain scenarios. Clicking the "Request Contextual Data button will cause Hub to send your application a request for contextual data.
      .label
        | Email:
      .form-value
        input(type="text" ng-model="email")
      .label
        | Phone Number:
      .form-value
        input(type="text" ng-model="phoneNumber")
      button.btn.btn-primary(ng-click="getContextualUser()") Request Contextual Data

  .pushnotifications
    .iframe-container
      h2 Push Notification
    .actions
      p Whenever this route is called, Hub will attempt to call your application for notifications and contextual data and update the user interface with that new data.
      button.btn.btn-primary(ng-click="pushNotification()") Request Push Notification
    .api(ng-show="pushNotificationRequested")
      h3 Please send us the following POST request
      code
        | POST https://core.broadsoftlabs.com/v1/:app/:username/push
