custom-header
.site-content.fullWidth
  .row
    .col-sm-4.col-md-3.col-lg-2.side-menu
      section#sidebar.docs(data-offset-top='0px')
        h4 Overview
        a(href="#/docs") Notifications
        a(href="#/docs") Contextual
        a(href="#/docs") MicroApp
        a(href="#/docs") BroadSearch
        a(href="#/docs#settings") Settings
        h4 Best Practices
        a(href="#/docs") Approved Frameworks
        a(href="#/docs") Performance
        a(href="#/docs") Security
        a(href="#/docs") App languages/localization
        a(href="#/docs") Style guide
        a(href="#/docs") Gathering data from users
        a(href="#/docs") Logging
        a(href="#/docs") Refreshing Data
        a(href="#/docs") Contextual and Notifications
        a(href="#/docs") MicroApp
        a(href="#/docs") More Buttons
        a(href="#/docs") Searching Data
        a(href="#/docs") Sub-Filters for MicroApp Data
        a(href="#/docs") Other User Interface Elements not Discussed
        h4 Register Your App
        h4 API overview
        a(href="#/docs") Authentication
        a(href="#/docs") How to Update the Notifications Count:
        a(href="#/docs") How to Update Contextual Data
        a(href="#/docs") Push notifications update of Hub Contextual and Notifications
        h4 Example Application Development Process
        a(href="#/docs") Make it
        a(href="#/docs") Host it
        a(href="#/docs") App Registration
        a(href="#/docs") Test On Staging
        a(href="#/docs") The Hub Team Will Test Your Application
        a(href="#/docs") Schedule a Production Release Date
        h4 Swagger.io Sandbox
        a(href="#/docs") Sample Application Guide and Troubleshooting
        a(href="#/docs") Developing The Hello World Application Locally
        a(href="#/docs") Testing Your Application Locally
        a(href="#/docs") How Does the Trivia App Work?

    .col-sm-8.col-md-9.col-lg-10.main-content-row(style='min-height: 792px;')
      section#/docsstarted.main-content
        h1 1.0 Overview
        p
          | UC-One Hub is a BroadSoft cloud service providing direct access to cloud applications that have been pre-integrated with UC-One – allowing users to be more efficient and productive. These integrations bring a lite client experience and contextual data to your day-to-day communications via UC-One.  UC-One Communicator for Desktop-Chrome is the first client to be integrated with Hub, with other client experiences to follow.
        p
          | To do this, Hub integrates into the Chrome client experience in three different ways, the MicroApp View, the Notification bar (which also serves as the navigation bar), and the Contextual data view.
          | As you build your integration into Hub, your application data will be inserted through the use of a “webview” or iframe elements.
        p
          | Below is an illustration of how the three components of Hub (Notifications, Contextual, MicroApp) integrate into the UC-One Chrome experience.
        .col-sm-12
          img.doc-image(src="assets/images/image07.png")

        .col-sm-6.new-sub-section
          h2 1.1 Notifications
        .col-sm-6
          img.doc-image(src="assets/images/image08.png")
        .col-sm-12
          p
            | In the notifications bar, you’ll have an icon for your application, which will act as a reference point for application notifications and navigation. This view is always shown while communicator is open and provides users a heads-up view of items that require their action and a point to navigate to different applications.
          p
            | When a user clicks on the notifications icon that corresponds to your app, the MicroApp pane will then shift to your MicroApp pane regardless of where the user is in Communicator at the time.
          p
            | What can I set here?
          ul
            li 
              | App icon for notification uploaded on app registration page (SVG, WOFF)
            li
              | This is elaborated in section 4.2

        .col-sm-12.new-sub-section
          h2 1.2 Contextual
        .col-sm-8
          p
            | This panel is shown when an end user interacts with another user through a chat or phone call. When this happens, all enabled apps that have the contextual box checked under settings are sent a request for all user data that they want to display in the contextual view. This data can send a maximum of 30 items on first call with additional content made available utilizing the “more” function. The next request to your API will ask for the next page.
          p
            | You will be able to display data here in a container 228px by 70px in size. Your icon will also be used here. This is the default size of the window but keep in mind that the user can expand this window to any height while leaving the width constant.
        .col-sm-3
          img.doc-image(src="assets/images/image04.png")
        .col-sm-1

        .col-sm-12.new-sub-section
          h2 1.3 MicroApp
        .col-sm-8
          p
            | The micro app is where you can display any content that you would like for your application. You will display this information in the form of an iframe. The url of this iframe can be set when you register your application. It is a scrollable container and the header of this panel will have the name of the application that you registered with Hub. The settings link in the header takes you to the Hub settings page.
          p
            | The default size of this iframe is 288px by 470px. Users also have the ability to expand the window to any height that their monitor supports while maintaining a fixed width of 288px.
          p
            | There are a few iframes at work here that you may need to consider. The Communicator application provides Hub with three IFrames so Hub can display its content. As a third party developer, you will only be provided with one IFrame in which to display data (This is the MicroApp IFrame).
          p
            | All the IFrames in the application talk to each other through two APIs: the internal Hub API and the third party API. Public access is only provided for the third party API.

        .col-sm-3
          img.doc-image(src="assets/images/image02.png")
        .col-sm-1

        .col-sm-12.new-sub-section
          h2 1.5 BroadSearch
        .col-sm-11
          p
            | BroadSearch is one of the most important parts of Hub as it allows users to easily search through data between all integrations. These can be internal or external applications and allows Hub to combine data of all types in a global search.
          p
            | There are two places that the user can use the BroadSearch feature: In the micro apps view and in the contextual view. However, when the user searches in the micro apps view, only the current application is searched. In contextual however, search behaves on a more global level.
          p
            | In contextual, if you search the while in the “All” tab, you will search all applications at once. As you filter the contextual view to categories or subcategories, you then start to limit the scope of the BroadSearch feature to the desired applications.
        .col-sm-1

        .col-sm-12.new-sub-section
          h2 1.6 Settings
        .col-sm-8
          p
            | When the user first logs into the Hub application, they will see a settings page for all applications.
          p
            | Here you can see the settings page. This is an example of a user only having the first two integrations enabled. 
          p
            | Once an integration is enabled, the blue slider toggles to “ON” and more details become available. You can then click the “Launch” button to navigate to the integration micro app view.
          p
            | You can also toggle where you want the application data displayed. By disabling contextual, your data will no longer be available in the contextual view. By disabling notifications, you will disable the notification counts and updates. Disabling this does not remove the application from the notifications panel entirely as it will still be used when a user clicks the application icon corresponding the affected application and Hub navigates them to the micro app view for that application.

        .col-sm-3
          img.doc-image(src="assets/images/image12.png")
        .col-sm-1
        .col-sm-11
          p
            | The user can also view which account is linked to this integration. This is helpful if you want to determine where the data is coming from in the case where a user might have multiple accounts for a single application. A good example of this is gmail personal email and gmail corporate email being managed by the same user.
        .col-sm-1


        .col-sm-12.new-section
          h1 2.0 Best Practices
        .col-sm-11
          p
            | Your application code will need to be submitted for review by a member of the Broadsoft Labs team. This review process may take some time so it is in everyone’s best interest to get your app in the best state possible prior to submitting the app for approval. Here are some things that will be reviewed in this process and some tips on how to minimize the review process time.
        .col-sm-1

        .col-sm-12.new-sub-section
          h2 2.1 Approved Frameworks
        .col-sm-11
          p
            | This is the list of approved frameworks. Your application will not be approved if it does not follow a modern framework. If you are using a framework that is not in this list, please contact us to find out if that framework is approved.
        .col-sm-1
        .row.newPlistRow        
          .col-sm-4
            p
              strong.plistHeading 
                | Node.JS
            .col-sm-6
              p.plist
                | Hapi.js
              p.plist
                | Sails.js
              p.plist
                | Express.js
              p.plist
                | Koa.js
              p.plist
                | Mojito.js
            .col-sm-6
              p.plist
                | Meteror.js
              p.plist
                | Derby.js
              p.plist
                | Mean.js
              p.plist
                | Total.js
          .col-sm-4
            p
              strong.plistHeading 
                | PHP
            .col-sm-6
              p.plist
                | Drupal
              p.plist
                | Cake.php
              p.plist
                | Laravel
              p.plist
                | Symfony
              p.plist
                | CodeIgniter
              p.plist
                | Yii 2

            .col-sm-6
              p.plist
                | Phalcon
              p.plist
                | Zend
              p.plist
                | Slim
              p.plist
                | Fuel
              p.plist
                | PhPixie
          .col-sm-4
            p
              strong.plistHeading
                | Ruby
            .col-sm-8
              p.plist
                | Ruby on Rails
              p.plist
                | Sinatra
            .col-sm-4
        .row.newPlistRow
          .col-sm-4
            p
              strong.plistHeading 
                | Java
            .col-sm-6
              p.plist
                | Spring
              p.plist
                | JSF
              p.plist
                | Vaadin
            .col-sm-6
              p.plist
                | GWT
              p.plist
                | Grails
              p.plist
                | Play
          .col-sm-4
            p
              strong.plistHeading 
                | Phython
            .col-sm-6
              p.plist
                | Django
              p.plist
                | TurboGears
              p.plist
                | Web2py
            .col-sm-6
          .col-sm-4
            p
              strong.plistHeading
                | GO
            .col-sm-8
              p.plist
                | Beego
              p.plist
                | Martini
              p.plist
                | Gorilla
              p.plist
                | GoCraft
            .col-sm-4
        .row.newPlistRow
          .col-sm-4
            p
              strong.plistHeading 
                | Scala
            .col-sm-6
              p.plist
                | Lift
              p.plist
                | Play
            .col-sm-6

          .col-sm-4
            p
              strong.plistHeading 
                | Clojure
            .col-sm-6
              p.plist
                | Luminous
            .col-sm-6
          .col-sm-4
            p
              strong.plistHeading
                | Microsoft
            .col-sm-8
              p.plist
                | All Frameworks Accepted
            .col-sm-4
        .col-sm-11.newPlistRow
          p
            | ** More frameworks can be supported upon request. Please contact us if your framework does not fall into this list. Front-end frameworks such as Angular, React, Backbone etc. are also approved.
        .col-sm-1 

        .col-sm-12.new-sub-section
          h2 2.2 Performance
        .col-sm-11
          h4.plistHeading Minification/Uglification/Concatenation
          p
            | While your app will have to be submitted in non-uglified mode, all apps running in our production environment should be minified and uglified. This increases performance and reduces initial load times. We should only ever be serving one file to the user for the client side portion of your application.
        .col-sm-1 

        .col-sm-12.new-sub-section
          h2 2.3 Security
        .col-sm-11
          h4.plistHeading XSS
          p
            | Your code should be protected against XSS (Cross site scripting attacks). 
          p
            | XSS is a type of computer security vulnerability typically found in web applications. XSS enables attackers to inject client-side scripts into web pages viewed by other users. A cross-site scripting vulnerability may be used by attackers to bypass access controls such as the same-origin policy. Cross-site scripting carried out on websites accounted for roughly 84% of all security vulnerabilities.
          p
            | Their effect may range from a petty nuisance to a significant security risk, depending on the sensitivity of the data handled by the vulnerable site and the nature of any security mitigation implemented by the site's owner.
          a.plistHeading(href="https://en.wikipedia.org/wiki/Cross-site_scripting")(*) https://en.wikipedia.org/wiki/Cross-site_scripting

        .col-sm-1   
        .col-sm-11
          h4.plistHeading CSRF
          p
            | Another common JavaScript security vulnerability is Cross-Site Request Forgery (CSRF). This is something your app should prevent.
          p
            | Cross-site request forgery, also known as one-click attack or session riding and abbreviated as CSRF, is a type of malicious exploit of a website where unauthorized commands are transmitted from a user that the website trusts. Unlike cross-site scripting (XSS), which exploits the trust a user has for a particular site, CSRF exploits the trust that a site has in a user's browser.
          a.plistHeading(href="https://en.wikipedia.org/wiki/Cross-site_request_forgery")(*) https://en.wikipedia.org/wiki/Cross-site_request_forgery

        .col-sm-1   
        .col-sm-11
          h4.plistHeading CORS
          p
            | Where applicable, your app should have restricted CORS (Cross origin resource sharing) domains. This will prevent unwanted requests from unwanted domains.
          p
            | Cross-origin resource sharing (CORS) is a mechanism that allows restricted resources (e.g. fonts) on a web page to be requested from another domain outside the domain from which the resource originated.A web page may freely embed images, stylesheets, scripts, iframes, videos and some plugin content (such as Adobe Flash) from any other domain. However, embedded web fonts and AJAX(XMLHttpRequest) requests have traditionally been limited to accessing the same domain as the parent web page (as per the same-origin security policy). "Cross-domain" AJAX requests are forbidden by default because of their ability to perform advanced requests (POST, PUT, DELETE and other types of HTTP requests, along with specifying custom HTTP headers) that introduce many cross-site scripting security issues.
          p
            | CORS defines a way in which a browser and server can interact to determine safely whether or not to allow the cross-origin request. It allows for more freedom and functionality than purely same-origin requests, but is more secure than simply allowing all cross-origin requests. It is a recommended standard of the W3C.

          a.plistHeading(href="https://en.wikipedia.org/wiki/Cross-origin_resource_sharing")(*) https://en.wikipedia.org/wiki/Cross-origin_resource_sharing

        .col-sm-1 

        .col-sm-12.new-sub-section
          h2 2.4 App languages/localization
        .col-sm-11
          p
            | Hub will support various languages worldwide. Your app must support a base set of these languages for all strings presented to the users. Your app will also be required to listen for HTTP calls to inform your app of when the user has changed their language in Hub. Then you will be required to update your user interface to reflect the selected language.
          p
            | Currently supported languages:
          ul
            li
              | German
            li
              | Spanish
            li
              | French
            li
              | Italian
            li
              | Mandarin
        .col-sm-1   

        .col-sm-12.new-sub-section
          h2 2.5 Style guide
        .col-sm-11
          p
            | For a Hub app to be approved it must be submitted to the Hub UI team for approval.  While we provide developers the creative liberty to build a UI that they believe will be welcomed by their user based, we ask that you consider the Google material design as a guide as you follow the style guidelines as prescribed below.   If the UI doesn’t followed modern web standards, like Google’s Material design, then there’s a strong likelihood that the design will be pushed back for remediation.
        .col-sm-1  

        .col-sm-11
          h4.plistHeading 2.5.1 Typography
          p
            | Text should be understandable by anyone, anywhere, regardless of their culture or language. Clear, accurate, and concise text makes interfaces more usable.
          p
            |   Open Sans is the standard typeface for UC-One Hub, the font stack should specify Open Sans, Arial, and then sans-serif.
          .row.newPlistRow
            .col-sm-6
              strong.imageCaption.imageCaptionPadding
                | MicroApp Search Box
            .col-sm-6
              img.doc-image(src="assets/images/image01.png")
          .row.newPlistRow
            .col-sm-6
              strong.imageCaption
                | MicroApp Tabs Filter
            .col-sm-6
              img.doc-image(src="assets/images/image09.png")
          .row.newPlistRow
            .row
              .col-sm-6
                strong.imageCaption
                  | MicroApp List Item
              .col-sm-6
            .row
              .col-sm-3
              .col-sm-8
                img.doc-image(src="assets/images/image03.png")
              .col-sm-1
          .row.newPlistRow
            .row
              .col-sm-6
                strong.imageCaption
                  | Contextual Timeline Item
              .col-sm-6
            .row
              .col-sm-3
              .col-sm-8
                img.doc-image(src="assets/images/image06.png")
              .col-sm-1
        .col-sm-1  

        .col-sm-11
          h4.plistHeading 2.5.2 Colors
          .row
            .col-sm-1
            .col-sm-9
              img.doc-image(src="assets/images/image11.jpg")
            .col-sm-2
        .col-sm-1

        .col-sm-12.new-sub-section
          h2 2.6 Gathering data from users
        .col-sm-11
          p
            | You may track user statistics from services such as google analytics in any way you see fit for user interactions that pertain to your application within the micro apps iframe. 
          p
            | You may not store any information that relates to user interaction with Hub or Communicator. This includes how the user interacts with notifications, contextual or as they switch between apps in Hub. You must also never track the user by any means that will allow you to profile a user and store user information. All data must be anonymized through one way encryption.
          p
            | Please see the full list of requirements in the terms and conditions section of this document.
        .col-sm-1  

        .col-sm-12.new-sub-section
          h2 2.7 Logging
        .col-sm-11
          p
            | We recommend that you follow standard logging practices for your application. This should involve logging to a file on your servers. Any client side logging must be limited for the production level app as it will be shown to the user if the inspect their chrome console. Take care not to log any sensitive data.
          p
            | However, you need to make sure that you are not logging excessively as you can crash Hub with an infinite loop of log statements. If your app causes performance issues or impacts performance negatively in any way, your application will be blacklisted from Hub. We will do this by disabling your application globally our production database.
        .col-sm-1  

        .col-sm-12.new-sub-section
          h2 2.8 Refreshing Data
        .col-sm-11
          h4.plistHeading 2.8.1 Contextual and Notifications
          p
            | When Hub sends your application a request for data in contextual and notifications, there is an option you return called “refreshAt” (See section 4). This property will tel Hub when to next fetch data from your application in order to refresh the contextual panel for the user and the notifications count.
          h4.plistHeading 2.8.2 MicroApp
          p
            | You have complete control of when the iframe for your micro app refreshes. The best practice is to update the data when new user data becomes available. It is standard practice to do this with websockets. The screen should never flicker with new data and you should never see the page reload. Rather the data should just update as it becomes available to the user.
        .col-sm-1  

        .col-sm-12.new-sub-section
          h2 2.9 More Buttons
        .col-sm-11
          p
            | If you are providing more than thirty results to a user, your data must be paged. This means that you will only send the first thirty results on first request and as the user request more data, you will serve up the next set of results. This can take place in the form of a more button that the user clicks or from a scrolling action of the user when they scroll to the bottom of the available results. 
          p
            | This is in place as there are several apps loading data and it is better to only serve a small set of results to limit user bandwidth and increase performance while loading the application initially.
        .col-sm-1  

        .col-sm-12.new-sub-section
          h2 2.10 Searching Data
        .col-sm-11
          p
            | When a user attempts to search your data that you provide in your microapp, you should attempt to provide search results as quickly as possible. Your application should search all front end results initially and filter them on the front end for the user to view. This should be the first  stage of your search. While you are filtering your front end results, you should also search your backend for the data as well and once the results come back from your server, you will need to merge the two searches.
        .col-sm-1  

        .col-sm-12.new-sub-section
          h2 2.11 Sub-Filters for MicroApp Data
        .col-sm-6
          p
            | If you wish to filter your data into multiple views you will need to have a sun-filters in your micro app.
        .col-sm-4
          img.doc-image(src="assets/images/image10.png")  
        .col-sm-2
        .col-sm-11
          p
            | The current tab should be highlighted and clicking on other tabs should filter the view. Data for each tab should be cached so that when the user switches tabs, the screen does not flash and a reload is not required.
        .col-sm-1

        .col-sm-12.new-sub-section
          h2 2.12 Other User Interface Elements not Discussed
        .col-sm-11
          p
            | Your application may have several other types of widgets and tools in order to improve the user experience. This section will be updated as needed with a standard on those types of tools and we are fully willing to work with you to make your application the best it can be. The goal of this section is to have a standard way of doing things for all Hub apps in order to present the user with consistent results.
        .col-sm-1 

        .col-sm-12.new-section
          h1 3.0 Register Your App
        .col-sm-11
          p
            | Before you can update any data within Hub, you must register your application. To do this, send an email to hub@broadsoftlabs.com (in the future, this will be done through a web portal) with the following details:
          p  
            strong To: 
            | hub@broadsoftlabs.com
          p  
            strong Subject:
            | Hub registration for app: [your-app-name]
          p  
            strong Body:
            ul
              li
                strong Company:
                |  Name of Company or service provider that is providing the app.
              li
                strong App Name: 
                |  The name of your application.
              li
                strong App Name: 
                |  The name of your application.    
              li
                strong Type of App:
                | Microapp, Contextual, MicroApp Only, or Contextual Only.
              li
                strong App Category:
                | What category does the app belong? You must choose from Dialogue, Files, Social, Teams, Utilities.
              li
                strong Sub-category:
                | Provide the name of your subcategory. This is limited to 10 characters.
              li
                strong Icon:
                | This is the icon that we will display in the notifications panel of Hub. It must be in the form of a WOFF file. The icon in your font file must be set to the \e0 character
              li
                strong Icon Color:
                | Hex code of your preferred color. Ex #f00
              li
                strong Scope:
                | Is this app offered to service provider, or everyone?
              li
                strong Is This a Public API:
                | This is a true or false value that indicates if you would like to send private user data to Hub. This requires an authentication method that Hub can access when making requests.
              li
                strong Base URL:
                | Where your application or API is publicly hosted. This may also include a port if applicable. This is referenced as [integration.host]:[port] in this document.
        .col-sm-1

        .col-sm-12.new-section
          h1 4.0 API overview
        .col-sm-11
          p
            | Once your application is registered, you'll be able to interface with Hub. As the user takes actions in Hub, we will send you requests. You then respond to those requests with data that we show in Contextual and Notifications. We also provide a mechanism for you to send us updates to your data as they become available to the user.
        .col-sm-1

        .col-sm-12.new-sub-section
          h2 4.1 Authentication
        .col-sm-11
          p
            | As a developer, you are to send and receive secure requests. The way this works is that Hub will request a secure key on a per user basis. This key can be any string that you wish to send to Hub. Hub will then send this string back to your application for this user each time secure interactions are required. However, if it is actual user data, such as an access_token or a secure key, we recommend that you encrypt this key before sending it to us.
          p
            | Once you inform Hub of the key and associated user, we will then send requests back to you with that same key. This is how you will determine if it is a secure request.
        .col-sm-1 

        .col-sm-12.new-sub-section
          h2 4.1.1 OAuth 2
        .col-sm-11
          p
            | Hub supports OAuth 2.0, which allows you to log the user into your application with Google, Facebook, LinkedIn, etc. and you may then want to send us the unique id that matches one of these services. For instance, if your login flow produces some sort of user token, you could then encrypt that token and send it to Hub. Hub will then send you that token back verbatim on each request and it will be your responsibility to decrypt and verify that key. This will ensure that the request to your server is actually coming from Hub and not a malicious source.
        .col-sm-1 

        .col-sm-12.new-sub-section
          h2 4.1.2 Custom Tokens
        .col-sm-11
          p
            | Another example is where you may just want a custom auth token that you use to validate with Hub. This custom token can literally be any string you wish. Some sample ideas for this token could be the username, user’s email, a timestamp of the first interaction with Hub or even just a static string encrypted with a secret only your application knows. This is a less secure mechanism but it may fit your needs better depending on your application.  
          p
            | You can encode these tokens in any way you wish. The following examples are encrypted with base64 encoding:
          table.table.table-bordered
            thead
              tr              
                th Properties
                th Un-encoded Key
                th Encoded Key
            tbody
              tr              
                td email
                td user@sample.com
                td dXNlckBzYW1wbGUuY29t
              tr              
                td Email + Current Time
                td user@smaple.com20160808
                td dXNlckBzbWFwbGUuY29tMjAxNjA4MDgNCg==
              tr
                td User GUID from Database
                td HDD7YDHEJ7353HDHHS
                td SEREN1lESEVKNzM1M0hESEhT
        .col-sm-1 

        .col-sm-12.new-sub-section
          h2 4.1.3 How we will attempt to retrieve a custom token
        .col-sm-11
          p
            | The following will occur if your application is set to Private upon registration and when a user tries to log in to your app from the settings page. We will open a page pointing to your server at:
          p.plist.code
            | GET
          p.plist.code
            | URL: https://[yourBaseUrl]/v1/{yourAppName}/authenticate?hubUrl=https://core.broadsoftlabs.com
          p
            | and you can render your login page or any OAuth integration with other providers in at that time.
          p
            | Upon successful login, you will send us the encrypted authentication token as a POST
          p.plist.code
            | POST
          p.plist.code
            | URL: https://[hubUrl]/v1/{yourAppName}/:username/auth
          p.plist.code
            | Post Body: {
          p.plist.code &nbsp; auth: any
          p.plist.code
            | }
          p
            | Hub will store this token and associate with your application and a user. Then this token will be sent with all Hub requests. 
          p
            | We will respond to the POST with a URL that you should be redirecting to in order to display the UC-One Hub authentication success or error page.
        .col-sm-1

        .col-sm-12.new-sub-section
          h2 4.2 How to Update the Notifications Count:
        .col-sm-11
          p
            | When the user opens the application, we will send you the following request:
          p.plist.code
            | POST
          p.plist.code
            | URL: https://[yourBaseUrl]/v1/:app/:username/notifications [private API]
          p.plist.code
            | Post Body: 
          p.plist.code
            | {
          p.plist.code
            | &nbsp; auth: [any] (optional)
          p.plist.code
            | }
          p.plist
            | OR
          p.code
            | URL: https://<baseUrl>/v1/:app/notifications <public API>
          p
            | This request will hit your API and you will respond with:
          p.plist.code
            | {
          p.plist.code
            |count: [integer],
          p.plist.code
            |refreshAt: <Time in milliseconds since January 1 1970 UTC IE: 1463661591313> (optional)
          p.plist.code
            |}
          p
            | If your application was registered as public, all optional parameters are not needed or will not be sent. 
          p
            | The 
            strong count 
            | is the count to be displayed to the user in the Hub notifications panel.
          p
            | The 
            strong refreshAt 
            | value can be used for simulation push notifications is your application does not support such a feature. It is the next datetime at which Hub will request notifications from your application. This time is in the form of number of milliseconds since January 1st 1970 UTC.
          p
            | Example in Javascript:
          p.plist.code
            | var refreshAt = new Date().getTime();
          p.plist.code
            | //refreshAt = 1463661591313
        .col-sm-1
        
        .col-sm-12.new-sub-section
          h2 4.3 How to Update Contextual Data
        .col-sm-11
          p
            | When the user opens a conversation with one or many users, we will send you the following post request:
          .row
            .col-sm-2
            .col-sm-8
              img.doc-image(src="assets/images/image05.png")
            .col-sm-2
          p.plist.code
            |POST
          p.plist.code
            |URL: https://[yourBaseUrl]/v1/:app/:username/timeline [private API]
          p.plist.code
            |OR
          p.plist.code
            |URL: https://[yourBaseUrl]/v1/:app/timeline [public API]
          p.plist.code
            |Post Body: 
          p.plist.code
            |{
          p.plist.code
            |&nbsp; auth: [any] (optional),
          p.plist.code
            |&nbsp; search: [string], (optional) (this is the string that the user searched)
          p.plist.code
            |&nbsp; context: { (details of the person or persons that you are taking to)
          p.plist.code
            |&nbsp;&nbsp;   emails: [array],
          p.plist.code
            |&nbsp;&nbsp;   phoneNumbers: [array]
          p.plist.code
            |&nbsp; }
          p.code
            |}
          p
            | This request will hit your API and you will respond with:
          p.plist.code
            | { 
          p.plist.code
            |   &nbsp; refreshAt: <integer in ms>, (optional)
          p.plist.code
            |   &nbsp; items: 
          p.plist.code
            | &nbsp;&nbsp;[
          p.plist.code
            |  &nbsp;&nbsp;&nbsp;{
          p.plist.code
            | &nbsp;&nbsp;&nbsp;&nbsp;date: <Time since Jan 1 1970 UTC>,
          p.plist.code
            | &nbsp;&nbsp;&nbsp;&nbsp;title: <string> (first row),
          p.plist.code
            | &nbsp;&nbsp;&nbsp;&nbsp;description: <string> (optional)
          p.plist.code
            | &nbsp;&nbsp;&nbsp;&nbsp;timelineId: <string> (unique id that represents the record),
          p.plist.code
            | &nbsp;&nbsp;&nbsp;&nbsp;webLink: <string> (open in browser url),
          p.plist.code
            | &nbsp;&nbsp;&nbsp;&nbsp;actions: [
          p.plist.code
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
          p.plist.code
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;property: <string> (name of the boolean property of the timeline item),
          p.plist.code
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;iconClass: <string> (name of the icon to be displayed through HubIconFont’s provided css classes),
          p.plist.code
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Color: <string> (css color of the activated action)
          p.plist.code
            | &nbsp;&nbsp;&nbsp;&nbsp}
          p.plist.code
            | &nbsp;&nbsp;&nbsp;] (optional)
          p.plist.code
            |&nbsp;&nbsp;}, 
          p.plist.code
            |&nbsp;&nbsp;{
          p.plist.code
            | /* Similar object */
          p.plist.code
            |&nbsp;&nbsp;}
          p.plist.code
            |&nbsp;]
          p.code
            | }
          p.plist
            | The
            strong &nbsp; Auth
            |&nbsp; we send you will have been attained by Hub when a user activates your private application from the Hub settings page.
          p.plist
            strong Search
            |&nbsp; is the query string that the user has searched for in contextual.
          p.plist
            strong Context
            |&nbsp; contains the details of the other users that the target user is talking to.
          p.plist
            strong Emails
            |&nbsp; is a list of all user emails in the current user conversation.
          p.plist
            strong Phone Numbers
            |&nbsp; is a list of all user phone numbers in the conversation.
          p.plist
            strong RefreshAt
            |&nbsp; is the next time (UTC) that we will poll your application for changes. Once that request is sent, you will need to return the next time you want us to check your app for changes and so on.
          p.plist
            strong Timeline
            |&nbsp; is the list of data that you want displayed in contextual. This is an array of objects.
          p.plist
            strong Date
            |&nbsp; is the date you want displayed. The accepted format is the time since Jan 1 1970 UTC
          p.plist
            strong Title
            |&nbsp; is the first bolded row of the contextual record
          p.plist
            strong Sub
            |&nbsp; title is the optional second row of the contextual record
          p.plist
            strong Description
            |&nbsp; is the one to three lines of details that you may provide for each timeline item.
          p.plist
            strong Timeline
            |&nbsp; Id is a unique id in your system that represents the timeline item.
          p.plist
            strong WebLink
            |&nbsp; is the url the link that is made available so a user can click your timeline item.
          p
            strong Actions
            |&nbsp; are icons that you want shown as the user hovers over your contextual item. By specifying them in the actions property of the timeline response you can toggle a boolean property of your timeline items. On clicking the icon we will send a PUT request to 
          p.code
            | https://<baseUrl>/v1/:app/:username/timeline/:timelineId/:property
          p
            | With the toggled value of the property in the body of the request. 

        .col-sm-12.new-sub-section
          h2 4.4 Push notifications update of Hub Contextual and Notifications
        .col-sm-11
          p
            | Whenever this route is called, Hub will attempt to call your application for notifications and contextual data and update the user interface with that new data.
          p
            | Please send us the following POST request:
          p.code
            | POST  
          p.code
            | URL: https://core.broadsoftlabs.com/v1/:app/:username/push
          
          .col-sm-12.new-section
            h1 5.0 Example Application Development Process
          .col-sm-12.new-sub-section
            h2 5.1 Make it
          .col-sm-11
            p
              | You will need to create a web application that can be displayed in an iframe. Your application should also be capable of sending REST requests if you want to update notifications and contextual information.
          .col-sm-1
          
          .col-sm-12.new-sub-section
            h2 5.2 Host it
          .col-sm-11
            p
              | You can host your application on any public hosting service that you wish. The only thing to consider here is that Hub will have to be able to show this publicly hosted service in an iframe. If you are protecting against CORS, you will also need to add the Hub staging urls and productions urls to your whitelist. On an individual basis BroadSoft Labs also may be able to host your application on its public infrastructure. If this is of interest please email hub@broadsoftlabs.com.
            p
              | In the case where you are not sure how to host an application on the internet, you can follow the following steps as a guide.
          .col-sm-1
          
          
          .col-sm-12.new-sub-section
            h4.plistHeading Heroku
          .col-sm-11
            a.plistHeading(href="https://devcenter.heroku.com/start") https://devcenter.heroku.com/start
            p
              | Download the heroku toolbelt here: 
            a.plistHeading(href="https://devcenter.heroku.com/articles/getting-started-with-nodejs#set-up") https://devcenter.heroku.com/articles/getting-started-with-nodejs#set-up
            p
              | In terminal write: 
            p.plist.code
              | Mkdir hostingTester
            p.plist.code
              | Cd hostingTester
            p.plist.code
              | git init
            p.plist.code
              | vi index.html
            p.plist.code
              | Npm init
            p.plist.code
              | git add .
            p.plist.code
              | git commit -am 'my first commit'
            p.plist.code
              | heroku create
            p.plist.code
              | git push heroku master
            p
              |Then follow the links in the heroku output to see your application hosted online. For more details please visit
              a(href="http://heroku.com") &nbsp; heroku.com.

          .col-sm-1

          .col-sm-12.new-sub-section
            h2 5.3 App Registration
          .col-sm-11
            p
              | Once you are pleased with your application and it has been fully tested, you can register your application with Broadsoft Labs as previously described. The Hub team will review your application and then enable your application on our Hub staging servers where you can fully test the integrated solution.
          .col-sm-1
          
          .col-sm-12.new-sub-section
            h2 5.4 Test On Staging
          .col-sm-11
            p
              | You should be testing your application on staging to be sure that notifications and contextual work as intended. During this process, you will be communicating with the Hub team to ensure that your application is working as intended.
          .col-sm-1
          
          
          .col-sm-12.new-sub-section
            h2 5.5 The Hub Team Will Test Your Application
          .col-sm-11
            p
              | We will be looking for bugs, UI defects, UI general styling and security vulnerabilities. If your application fails any of these steps, you will be contacted by a Hub team member to aid you in fixing these issues before the application can be enabled on production.
          .col-sm-1
          
          .col-sm-12.new-sub-section
            h2 5.6 Schedule a Production Release Date
          .col-sm-11
            p
              | You will work with the Hub team to set a reasonable production release date.
          .col-sm-1
          
          .col-sm-12.new-section
            h1 6.0 Hub Developer Portal (Coming Soon)
          .col-sm-11
            p
              | In this tool, you will be able to fully test your application while only needing your own local code to do so. Here you will register applications and schedule releases for your product. This is also where you will receive feedback during the review process.
          .col-sm-1
          
          .col-sm-12.new-section
            h1 7.0 Sample Application Guide and Troubleshooting
          
          .col-sm-12.new-sub-section
            h2 7.1 Developing The Hello World Application Locally
          .col-sm-11
            p
              | The source code for the Hello World app can be downloaded here:
            a.plistHeading(href="https://github.com/BroadsoftLabs/helloWorldSampleApp") https://github.com/BroadsoftLabs/helloWorldSampleApp
            p
              | The following are instructions for Mac. In some cases you will have to find the instructions for Windows for installing certain packages. All of our development will be done with unix terminal commands.
            strong.plistHeading.plist
              | Step 1: Install the Required Dependencies
            p.plist
              | Firstly, you will need to install git. Please follow this guide: 
            a.plistHeading(href="https://git-scm.com/book/en/v2/Getting-Started-Installing-Git") https://git-scm.com/book/en/v2/Getting-Started-Installing-Git
            p.plist
              | Then install node:
            a.plistHeading(href="https://nodejs.org/en/download/") https://nodejs.org/en/download
            p
              | The node version compatible with this project is 6.2.2 or later but earlier versions may also work.
            strong.plistHeading.plist
              | Step 2: Set up the project
            p.plist
              | Run this in terminal:
            p.plist.code
              | git clone https://github.com/BroadsoftLabs/triviaSampleApp.git
            p.plist.code
              | cd helloWorldSampleApp
            p.plist.code
              | npm i
            p.plist.code
              | bower i
            p.code
              | sails lift --verbose 
            p
              |Your app should now be running in your browser at http://localhost:5430/#/   
          .col-sm-1
          
          .col-sm-12.new-sub-section
            h2 7.2 Testing Your Application (Coming Soon)
          .col-sm-11
            strong.plist.plistHeading
              | Step 1: Register in the hub Developer Portal
            p
              | NOTE: If you would like to see to see the communicator application for design and demo purposes, it can be Installed here: 
            a.plist.plistHeading(href="https://chrome.google.com/webstore/detail/communicator/ggbjagbpfbiannaconhiblndomfmekkh?hl=en-US&utm_source=chrome-ntp-launcher&authuser=1") https://chrome.google.com/webstore/detail/communicator/ggbjagbpfbiannaconhiblndomfmekkh?hl=en-US&utm_source=chrome-ntp-launcher&authuser=1
            p
              | 
            strong.plist.plistHeading
              | Step 2: Create BroadsoftLabs Account
            p
              | Sign up for an account at broadsoftlabs.com. NOTE: You will need a corporate email address from Broadsoft.com or a Broadsoft partner in order to go any further.
            strong.plist.plistHeading
              | Step 3: Register a Sample Application 
            p
              | Register a sample application in the portal and your DMS config settings for your broadsoftlabs account will automatically be updated.
            strong.plist.plistHeading
              | Step 4: Host your Application
            p
              | When you register your application, be sure to set the url to your hosted location.
            
            strong.plist.plistHeading
              | Step 5: Verify your Code in the Sandbox
            p
              | Test your code in the micro apps and notifications
            
            strong.plist.plistHeading
              | Step 6: Verify Contextual
            p
              | Test your app in contextual with another user by creating a custom contact
          .col-sm-1
              
          .col-sm-12.new-sub-section
            h2 7.3 How Does the Trivia App Work?
          .col-sm-11
            p
              | The technologies used for this application can be found in the package.json file for the app. 
              a(href="https://github.com/BroadsoftLabs/triviaSampleApp/blob/master/package.json") https://github.com/BroadsoftLabs/triviaSampleApp/blob/master/package.json
            p
              | The main technology is SailsJS, a wrapper for express. 
              a(href="http://sailsjs.org/") http://sailsjs.org/
            p
              | The application that you write can be in any technology as long as you can make REST requests to the Hub Core server.
            p
              | In this application all the rest routes are defined here:
            a.plistHeading(href="https://github.com/BroadsoftLabs/triviaSampleApp/blob/master/config/routes.js") https://github.com/BroadsoftLabs/triviaSampleApp/blob/master/config/routes.js
            p
              | This is where the backend interacts with the Hub API
            p
              | Custom authentication to Hub can be viewed here: 
            a.plistHeading(href="https://github.com/BroadsoftLabs/triviaSampleApp/blob/master/api/controllers/OAuthController.js") https://github.com/BroadsoftLabs/triviaSampleApp/blob/master/api/controllers/OAuthController.js
            p
              | Hub Core will also query your application with the timeline route for contextual data and the notifications route for the notifications count. 
            a.plistHeading(href="https://github.com/BroadsoftLabs/triviaSampleApp/blob/master/api/controllers/TriviaController.js") https://github.com/BroadsoftLabs/triviaSampleApp/blob/master/api/controllers/TriviaController.js   
            
