.register-container
  h1 In order to get started, please provide us with the following details:
  form(name="Form")
    div(class="form-group")
      label(for="register-application-url")
        | Your application URL
      img.help(src="/assets/images/help-icon.png" ng-click="openHelpModal('assets/templates/yourAppUrl.help.html')")
      input#register-application-url(ng-model="registeredApp.iframeUrl", class="form-control" validator="required, url",url-error-message="Invalid Url" url-success-message=" ")

    div(class="form-group")
      label(for="register-contact-email")
        | Contact Email Address
      img.help(src="/assets/images/help-icon.png" ng-click="openHelpModal('assets/templates/contactEmail.help.html')")
      input#register-contact-email(ng-model="registeredApp.appAdminEmail", class="form-control", type="email" validator="required")

    div(class="form-group")
      label(for="register-application-name")
        | Application Name
      img.help(src="/assets/images/help-icon.png" ng-click="openHelpModal('assets/templates/applicationName.help.html')")
      input#register-application-name(ng-model="registeredApp.name", class="form-control" validator="required")

    div(class="form-group")
      label(for="register-application-type")
        | Application Type
      img.help(src="/assets/images/help-icon.png" ng-click="openHelpModal('assets/templates/applicationType.help.html')")
      select#register-application-type(ng-model="registeredApp.applicationType", class="form-control", validator="required")
        option(value="all")
          | All
        option(value="context")
          | Contextual Only
        option(value="microapp")
          | MicroApp Only

    div(class="form-group")
      label(for="register-application-type")
        | Application Category
      img.help(src="/assets/images/help-icon.png" ng-click="openHelpModal('assets/templates/applicationCategory.help.html')")
      select#register-application-type(ng-model="registeredApp.tags", class="form-control", multiple, validator="required")
        option(value="dialogue")
          | Dialogue
        option(value="files")
          | Files
        option(value="social")
          | Social
        option(value="teams")
          | Teams
        option(value="utilities")
          | Utilities

    div(class="form-group")
      label(for="register-sub-category")
        | Sub Category
      img.help(src="/assets/images/help-icon.png" ng-click="openHelpModal('assets/templates/subCategory.help.html')")
      input#register-sub-category(ng-model="registeredApp.subTagLabel", class="form-control", max-length="10")

    div(class="form-group")
      label(for="register-icon-font")
        | Upload an svg file for your icon
      img.help(src="/assets/images/help-icon.png" ng-click="openHelpModal('assets/templates/svgUpload.help.html')")
      input#register-icon-font(type="file" ng-model="registeredApp.iconFont" base-sixty-four-input)

    div(class="form-group")
      label(for="register-icon-color")
        | Icon Color
      img.help(src="/assets/images/help-icon.png" ng-click="openHelpModal('assets/templates/colorPicker.help.html')")
      input#register-icon-color(class="form-control" colorpicker="hex" type="text" ng-model="registeredApp.color")

    div(class="form-group")
      img.help(src="/assets/images/help-icon.png" ng-click="openHelpModal('assets/templates/publicPrivate.help.html')")
      label
        | Public or Private data
        div(class="radio")
          label
            input#register-public-app(ng-model="registeredApp.isPublic", name="isPublic", type="radio", value="true")
            | Public
        div(class="radio")
          label
            input#register-private-app(ng-model="registeredApp.isPublic", name="isPublic", type="radio", value="false")
            | Private

    button#register-submit(class="btn btn-primary",validation-submit="Form", type="button", ng-click="registerApplication()")
      | Register My App
