.my-div
  | In order to get started, please provide us with the following details:

form-item(label="'Your application url:'" model="registeredApp.url")
form-item(label="'Contact email:'" model="registeredApp.email")
form-item(label="'Company Name:'" model="registeredApp.company")
form-item(label="'Application Name:'" model="registeredApp.appName")

.form-item
  .form-label
    | Application Type:
  .form-value
    select(ng-model="registeredApp.applicationType")
      option
        | All
      option
        | Contextual Only
      option
        | MicroApp Only

.form-item
  .form-label
    | App Category:
  .form-value
    select(ng-model="registeredApp.appCategory")
      option
        | Dialogue
      option
        | Files
      option
        | Social
      option
        | Teams
      option
        | Utilities

form-item(label="'Sub Category:'" max-length="10" model="registeredApp.subCategory")
form-item(label="'Icon:'" model="registeredApp.icon")
form-item(label="'Icon Color:'" model="registeredApp.iconColor")
.form-item
  .form-label
    | Public or Private Data:
  .form-value
    select(ng-model="registeredApp.isPublic")
      option
        | Public
      option
        | Private

button(ng-click="registerApplication()")
  | Register My App