.my-div
  | In order to get started, please provide us with the following details:

form-item(label="'Your application url:'" model="registeredApp.iframeUrl")
form-item(label="'Contact email:'" model="registeredApp.appAdminEmail" type="email")
form-item(label="'Application Name:'" model="registeredApp.name")
form-item(label="'Application Title:'" model="registeredApp.title")


.form-item
  .form-label
    | Application Type:
  .form-value
    select(ng-model="registeredApp.applicationType")
      option(value='all')
        | All
      option(value='context')
        | Contextual Only
      option(value='microapp')
        | MicroApp Only

.form-item
  .form-label
    | App Category:
  .form-value
    select(ng-model="registeredApp.tags", multiple)
      option(value='dialogue')
        | Dialogue
      option(value='files')
        | Files
      option(value='social')
        | Social
      option(value='teams')
        | Teams
      option(value='utilities')
        | Utilities

form-item(label="'Sub Category:'" max-length="10" model="registeredApp.subTabLabel")
form-item(label="'Icon Font:'" model="registeredApp.iconFont")
form-item(label="'Icon Color:'" model="registeredApp.color")
.form-item
  .form-label
    | Public or Private Data:
  .form-value
    select(ng-model="registeredApp.isPublic")
      option(value='true')
        | Public
      option(value='false')
        | Private

button(ng-click="registerApplication()")
  | Register My App
