.register-container
  h1 In order to get started, please provide us with the following details:
  form(name="Form")
    div(class="form-group")
      label(for="register-application-url")
        | Your application URL
      img.help(src="/assets/images/help-icon.png" ng-click="openHelpModal('assets/templates/yourAppUrl.help.html')")
      input.form-control(type='text', name='iframeUrl', ng-model="registeredApp.iframeUrl", validator='required,url', valid-method='submit')
    div(class="form-group")
      label(for="register-contact-email")
        | Contact Email Address
      img.help(src="/assets/images/help-icon.png" ng-click="openHelpModal('assets/templates/contactEmail.help.html')")
      input.form-control(ng-model="registeredApp.appAdminEmail", type="email" validator="required", valid-method='submit',name='email')

    div(class="form-group")
      label(for="register-application-name")
        | Application Name
      img.help(src="/assets/images/help-icon.png" ng-click="openHelpModal('assets/templates/applicationName.help.html')")
      input#register-application-name(name='appName', ng-model="registeredApp.name", class="form-control" validator="required")

    div(class="form-group")
      label(for="register-application-type")
        | Application Type
      img.help(src="/assets/images/help-icon.png" ng-click="openHelpModal('assets/templates/applicationType.help.html')")
      select#register-application-type(name='appType', ng-model="registeredApp.applicationType", class="form-control", validator="required")
        option(value="all")
          | All
        option(value="context")
          | Contextual Only
        option(value="microapp")
          | MicroApp Only

    div(class="form-group")
      label(for="register-application-type")
        | Application Category
      img.help(src="/assets/images/help-icon.png" ng-click="openHelpModal('assets/templates/applicationCategory.help.html')")
      select#register-application-type(name='appCat', ng-model="registeredApp.tags", class="form-control", multiple, validator="required")
        option(value="dialogue")
          | Dialogue
        option(value="files")
          | Files
        option(value="social")
          | Social
        option(value="teams")
          | Teams
        option(value="utilities")
          | Utilities

    div(class="form-group")
      label(for="register-sub-category")
        | Sub Category
      img.help(src="/assets/images/help-icon.png" ng-click="openHelpModal('assets/templates/subCategory.help.html')")
      input#register-sub-category(name='appSubCat', ng-model="registeredApp.subTagLabel", class="form-control", max-length="10" validator='required')

    div(class="form-group")
      label(for="register-icon-font")
        | Upload an svg file for your icon
      img.help(src="/assets/images/help-icon.png" ng-click="openHelpModal('assets/templates/svgUpload.help.html')")
      input#register-icon-font(name='iconFont', type="file" ng-model="registeredApp.iconFont" base-sixty-four-input validator="required")

    div(class="form-group")
      label(for="register-icon-color")
        | Icon Color
      img.help(src="/assets/images/help-icon.png" ng-click="openHelpModal('assets/templates/colorPicker.help.html')")
      input#register-icon-color(name='iconColor', class="form-control" colorpicker="hex" type="text" ng-model="registeredApp.color" validator="required")

    div(class="form-group")
      img.help(src="/assets/images/help-icon.png" ng-click="openHelpModal('assets/templates/publicPrivate.help.html')")
      label
        | Public or Private data
        div(class="radio")
          label
            input#register-public-app(ng-model="registeredApp.isPublic", name="isPublic", type="radio", value="true")
            | Public
        div(class="radio")
          label
            input#register-private-app(ng-model="registeredApp.isPublic", name="isPublic", type="radio", value="false")
            | Private
    .form-group
      label.error {{error}}
    button#register-submit(class="btn btn-primary", type="button", ng-click="form.submit(Form)")
      | Register My App
