//Old Login Code

//.login-container
//  custom-header(internal="$root.internal")
//
//  .login-splash.login-half
//    .content
//      h1 Hub Developer Program
//
//  .login-actions.login-half
//    .content
//      .form-item
//        .username.inline-block
//          | Username:
//        input.inline-block(type="text" ng-model="email")
//      .form-item
//        .password.inline-block
//          | Password:
//        input.inline-block(type="password" ng-model="password")
//      a.hub-button.login-button(href="#" ng-click="login()")
//        | Login
//      .form-item
//        label
//        {{loginError}}

.home-page

  .header-bar
    img
    | Bradsoft | Developers
  .link
    | Use Cases
    .link-drop-down
      | UC-One
    .link-drop-down
      | Team-One
    .link-drop-down
      | CC-1
    .link-drop-down
      | Hub
  .link
    | Documentation
  .link
    | App Directory
  .link
    | Support
    .link-drop-down
      | Forums
    .link-drop-down
      | Stack Overflow
    .link-drop-down
      | FAQ
    .link-drop-down
      | Contact Us
  .link-button
    | Get Started

  .header-section
    img.broadsoft-logo
    .motto
      | Build awesome apps for work
    .search
      input.global-search(type="text")

  .our-platforms
    .icon-card
      img.uc-one
      | UC-One
    .icon-card
      img.team-one
      | Team-One
    .icon-card
      img.cc-one
      | CC-One
    .icon-card
      img.hub
      | Hub

  .how-it-all-fits-together
    | How it all fits together
    img.product-connection-web
    button.learn-more
      | Learn More

  .featured-apps-caroussel
    //Needs to be an angular tool with the data entered
    //Use fake data and sample text for now

  .use-cases
    .icon-card.large
      img.uc-one
      | Team Communication
    .icon-card.large
      img.uc-one
      | Contextual Data
    .icon-card.large
      img.uc-one
      | Chat bots
    .icon-card.large
      img.uc-one
      | Web hooks

  //This is from slack.com
  .lets-do-this
    img.get-started-icon
    p
      | Let us help you get up and running to create an awesome app for your customers
    button.get-started
      | Get Started

  .keep-in-touch
    | Keep in touch
    p
      | Not ready to sign up? Provide us with your email and we will update you as new features happen so you can stay in the loop.
    input.your-email
    button.keep-me-informed
      | Keep me informed

  .more-information
    .icon-card.gray
      img.conferences
      | Conferences
    .icon-card.gray
      img.conferences
      | Blog
    .icon-card.gray
      img.conferences
      | Videos
    .icon-card.gray
      img.conferences
      | Tutorials

  .footer-info
    .column
      | Make it
      .line-item
        | Product
      .line-item
        | Support
      .line-item
        | Guides
      .line-item
        | Video Guides
      .line-item
        | App Directory
      .line-item
        | API
    .column
      | Broadsoft
      .line-item
        | Jobs
      .line-item
        | Customers
      .line-item
        | Developers
      .line-item
        | Events
      .line-item
        | Blog
      .line-item
        | Podcast
      .line-item
        | Broadsoft Shop
    .column
      | Legal
      .line-item
        | Privacy
      .line-item
        | Security
      .line-item
        | Terms of Service
      .line-item
        | Policies
    .column
      | Links
      .line-item
        | Download UC-One
      .line-item
        | Download Team-One
      .line-item
        | Download CC-One
      .line-item
        | Status

  .footer-main
    img.logo
    .back
      | Back to the main site
    .copyright
      | C 1999-2016 Broadsoft, Inc. All rights reserved.
    .social-icons
      .icon-circle
        img.twitter
        img.youtube
        img.linkedin

