.apps-list-container
  .row
    .spinner
      img(src="http://www.himedialabs.com/HML/img/loader.gif" ng-show="isLoading")
    .appContainer(ng-repeat="app in userApps")
      h3 {{app.name}}
      button.btn.btn-primary.appContainer(ui-sref="internal.editApp({appName:app.name})") Edit
      button.btn.btn-danger.appContainer(ng-click="deleteApp(app.name)") Delete
  .row
    button.btn.btn-success.form-control.create(ui-sref="internal.register" ng-show="!isLoading") Create New App
