.login-container
  custom-header(internal="$root.internal")

  .login-splash.login-half
    .content
      h1 Hub Developer Program

  .login-actions.login-half
    .content
      .form-item
        .username.inline-block
          | Username:
        input.inline-block(type="text" ng-model="email")
      .form-item
        .password.inline-block
          | Password:
        input.inline-block(type="password" ng-model="password")
      a.hub-button.login-button(href="#" ng-click="login()")
        | Login
      .form-item
        label
          {{loginError}}
