custom-header

.my-div-title
  | Hub Developer Program

.my-div
  .my-div-please-sign-in
    | Please sign in with your BroadSoftLabs account:
  .form-item
    .form-label
      | Username:
    .form-value
      input(type="text")
  .form-item
    .form-label
      | Password:
    .form-value
      input(type="text")

.buttons
  a.login(href="/#/internal")
    | Login
  a.signup(href="https://broadsoftlabs.com/" target="_blank")
    | Sign Up

.my-div-account
    | Don't have a BroadSoftLabs account? Sign up for one for free today!
