.login-container
  .topNav
    a(href="https://docs.google.com/document/d/1NAwOuWIJ1rau1Xgd_8DU78xeef5cyciOmcDLU3UeEC0/edit#") Docs
    a(href="https://www.youtube.com/channel/UCooaiKRyfGHF_L5-CJzaDkQ") Video Demo
    a(href="https://www.youtube.com/channel/UCooaiKRyfGHF_L5-CJzaDkQ") Video Tutorials
    a(href="https://github.com/BroadsoftLabs/helloWorldSampleApp") Hello World
    a(href="https://github.com/BroadsoftLabs/triviaSampleApp") Trivia Sample App

  .my-div-title
    | Hub Developer Program
  .welcome-container
    iframe(width="560" height="315" src="https://www.youtube.com/embed/ndKRjmA6WNA" frameborder="0" allowfullscreen)
  .my-div
    .my-div-please-sign-in
      | Please sign in with your BroadSoftLabs account:
    .form-item
      .form-label
        | Username:
      .form-value
        input(type="text" ng-model="email")
    .form-item
      .form-label
        | Password:
      .form-value
        input(type="password" ng-model="password")

  .buttons
    a.login.btn.btn-primary(href="#" ng-click="login()")
      | Login
    a.signup.btn.btn-success(href="https://broadsoftlabs.com/" target="_blank")
      | Sign Up

  .my-div-account
      | Don't have a BroadSoftLabs account? Create for one for free today!
