.login-container
  .topNav
    custom-header(internal="$root.internal")

  .my-div-title
    | Hub Developer Program
  .my-div
    .my-div-please-sign-in
      | Please sign in with your BroadSoftLabs account:
    .form-item
      .form-label
        | Username:
      .form-value
        input(type="text" ng-model="email")
    .form-item
      .form-label
        | Password:
      .form-value
        input(type="password" ng-model="password")

  .buttons
    a.login.btn.btn-primary(href="#" ng-click="login()")
      | Login
    a.signup.btn.btn-success(href="https://broadsoftlabs.com/" target="_blank")
      | Sign Up

  .my-div-account
      | Don't have a BroadSoftLabs account? Create one for free today!
