<h3>Application Type Help</h3>
<p>
  This tells us where you want your data to be shown.
</p>

<h4>All</h4>
<p>Your application will be available all places that Hub is available.</p>

<h4>Contextual Only</h4>
<p>Your application data will only show up in the contextual panel. It will always show in the notifications area but no counts are needed.</p>

<h4>MicroApp Only</h4>
<p>Your application will not show contextual data. Users will simply interact with your application in the micro apps view</p>